
<ul class="Items">
 {%- for product in collection.products -%}
  <li class="Item">
    <a href="https://www.shore.co.uk/index.php/ripcurl-corp-tee-black.html" class="Item__link">
      <div class="ImageContainer">
        <img src="{{ product.featured_image }}" class="Image">
      </div>
      <div class="Item__title">{{ product.title }}</div>
      <div class="Item__price">{{ product.price }}</div>
    </a>
  </li>
{% endfor %}

</ul>
{% schema %}
{
  "name": "custom product grid",
  "class": "section",
  "settings": [  ]
}
{% endschema %}